{% extends "base.html" %}

{% block title %} W.W. Timbers &middot; Home {% endblock %}

<!-- Header -->
{% block header %}
    <hr>
    <h1> This is where the title info will go </h1>
    <hr>
{% endblock %}
<!-- End Header -->

<!-- Content -->
{% block main_content %}
    <hr>
    <div class="large-3 columns">
        <ul>
            <li>History</li>
            <li>GLU-LAM/Decking</li>
            <li>Solid Timbers</li>
            <li>Outdoor Structures</li>
            <li>Crane Pads</li>
            <li>Repair Work</li>
            <li>Brochure</li>
            <li>Contact Us!</li>

        </ul>
    </div>
    <div class="large-9 columns">
        <p> This is the main Content </p>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h4>Welcome to W. W. Timbers, Inc...</h4>
            <br />
            <br />
            <p>
                Serving the Entire Midwest and East Coast for over 25 years.  If you’re considering laminated or heavy timber construction for your project, call us.
            </p>
        </div>
    </div>
{% endblock %}
<!-- End Content -->

<!-- Footer -->
{% block footer %}
    <hr>
    <p> This is the footer </p>
{% endblock %}
<!-- End Footer -->